*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-faq{
    margin-top: 63px;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/backgrounds/background-login.jpg);
    background-size: cover;
    background-repeat: repeat;

    
}   
.jumbotron{
    font-weight: 330;
    background-color: rgba(255,255,255,0.40);
}
.ss-item-faq-global{
    width: 50vw;
    background: none;
    color: white;
    text-align: center;
    font-size: 35px;

}
.faq-respuesta{
   text-transform: uppercase; 
   color: white;
   text-align: center;

}

