/* CSS DEL HOME */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.s-contenedor-gral{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    
}

nav{
    display: flex;
    background-color: #ffc400;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
}

.s-titulo{
    margin: 5vw;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    
}

.s-span-titulo{
    color: #ffc400;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e1007a;
}

.s-slogan{
    position: absolute;
    color: white;
    top: 5vh;
    left: 9vw;
    font-size: 1em;

}

.s-contenedor-nav-links{
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    width: 100vw;
    height: 92vh;
    top: 8vh;
    overflow: hidden;
    z-index: 999;
    
    
}
.s-opacity{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.s-nav-links{
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
    
}

.s-nav-links li{
    justify-content: space-around;
    list-style: none;
    text-align: center;
    margin: 20px;
}

.s-nav-links li:hover{
    text-decoration: underline;
}

.s-nav-links a{
    color: #e1007a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.s-nav-button{
    cursor: pointer;
}

.s-nav-button div{
    width: 25px;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    margin: 5px;
    margin-right: 5vw;
}

.s-opacity-active{
    opacity: 100;
    transition: opacity 0.5s ease-in;
}

.s-articulos{
    display: flex;
    padding-top: 2vh;
    margin-left: 4vw;
    margin-right: 2vw;
    padding-left: 4vw;
    padding-right: 6vw;
    background-image: url("https://images.pexels.com/photos/207666/pexels-photo-207666.jpeg?cs=srgb&dl=art-art-materials-brush-207666.jpg&fm=jpg") ;
    background-size: cover;
    background-color: slategray;
}

.s-articulo-main{
    min-height: 35vh;
    width: 80vw;
    margin-bottom: 2vh;
    text-align: center;
    border: #ffc400;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
}

.s-articulo1{
    background-image: url(../img/test-article1.jpg);
    background-size: contain;
}

.s-articulo2{
    background-image: url(../img/test-article2.jpg);
    background-color: orangered;
}

.s-articulo3{
    background-image: url(../img/test-article3.jpg);
    background-color: darkgreen;
}
.s-footer{
    background-color: #ffc400;
}

.s-footer-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

/* CSS DEL FORMULARIO */

.l-body{
    background-image: url("https://images.pexels.com/photos/207666/pexels-photo-207666.jpeg?cs=srgb&dl=art-art-materials-brush-207666.jpg&fm=jpg") ;
    background-repeat: no-repeat; 
    background-size: cover;
  }
  
  .jumbotron{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255,196,0, 0.6);
    align-content: center;
  }
  .section2{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .article1{
    margin-top: 20px;
  }
  
  .form-control{
    font-size-adjust: 10px;
    margin-bottom: 2px;
  }
  .btn-secondary{
    background-color: black;
  }
  .btn-primary{
    background-color: #e20079;
    border: none;
  }
  
  .loginBtn {
    box-sizing: border-box;
    position: relative;
    margin-left: auto;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  
  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }
  @media only screen and (min-width: 370px) {
  .article1{
    margin: auto;
    width: 100vw;
  
  }
  .article2{
    
  } 
  }
  @media only screen and (min-width: 600px) {
  .article1{
    width: 370px;
  
  }
  .article2{
    
  }
  }
  @media only screen and (min-width: 780px) {
  .container{
    display: inline-flex;
    
  }
  .article1{
    margin: auto;
    width: 370px;
    display: inline-block;
    margin-left: 30px;
  }
  .article2{
    display: none;
  }
  }
  
  
  